.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons__button {
  margin: 0 20px 0 0;
  color: teal;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .2s ease-in;
}

@media(max-width: 767px) {
  .buttons__button {
    flex-basis: 100%;
    margin: 10px;
  }
}

.buttons__button:hover {
  color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
  background: rgb(255, 255, 255);
  color: rgb(201, 194, 194);
  cursor: not-allowed;
}

.buttons__button--hidden {
  display: none;
}