.section {
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.section__title {
  font-size: 20px;
  padding: 20px;
  margin: 0;
}

.section__header {
  display: grid;
  grid-gap: 20px;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 767px) {
  .section__header {
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}

.section__body {
  padding: 20px;
}