.form {
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 767px) {
  .form {
    grid-template-columns: 1fr auto;
  }
}

.form__input {
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 3px;
}

.form__input:focus {
  border: 1px solid hsl(0, 1%, 17%);
}

.form__addTaskButton {
  padding: 10px;
  color: #fff;
  border: 1px solid transparent;
  background-color: hsl(180, 100%, 25%);
  cursor: pointer;
  transition: transform .3s, background-color .3s ease-in;
}

.form__addTaskButton:hover {
  background-color: hsl(180, 100%, 30%);
}

@media (min-width: 767px) {
  .form__addTaskButton {
    transform: scale(1.1);
  }
}

.form__addTaskButton:active {
  outline: 1px solid hsl(0, 2%, 20%);
  background-color: hsl(180, 100%, 35%);
}