.buttons {
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 767px) {
  .buttons {
    grid-template-columns: auto auto;
  }
}

.buttons__button {
  margin: 0 20px 0 0;
  color: teal;
  border: none;
  background-color: transparent;
  outline: none;
  transition: color .2s ease-in;
  cursor: pointer;
}

.buttons__button--last {
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .buttons__button--last {
    margin-bottom: 0;
  }
}

.buttons__button:hover {
  color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
  background: rgb(255, 255, 255);
  color: rgb(201, 194, 194);
  cursor: not-allowed;
}